<mat-card class="container">

  <mat-card-title>Gerar PDF</mat-card-title>
  <br>

  <form class="form" [formGroup]="formulario" (ngSubmit)="onSubmit()">


    <mat-card-actions>



      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Sigla</mat-label>
        <input style="text-transform: uppercase;" type="text" matInput placeholder="Digite a sigla da maquina" id="sigla" formControlName="sigla" required>
        <mat-error *ngIf="formulario.get('sigla')?.hasError">{{getErrorMessage('Digite a sigla')}}</mat-error>
      </mat-form-field>

      <br>


    </mat-card-actions>


    <mat-card-actions>

      <button class="button-busca" type="submit" mat-raised-button color="primary">Buscar</button>

    </mat-card-actions>
  </form>
 

</mat-card>

