<div *ngIf="mostrarMenu">
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>


    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="''">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
      <button mat-menu-item [routerLink]="'maquina'">
        <mat-icon>precision_manufacturing</mat-icon>
        <span>Maquina</span>
      </button>
      <button *ngIf="usuario.perfis.length > 1" mat-menu-item [matMenuTriggerFor]="menuUsuarios">
        <mat-icon>person</mat-icon>
        <span>Usuarios</span>
      </button>


      <mat-menu #menuUsuarios="matMenu">
        <button mat-menu-item [routerLink]="'usuario'">Listar</button>
        <button mat-menu-item [routerLink]="'usuario/new'">Novo</button>
        <button mat-menu-item [routerLink]="'usuario/update'">Atualizar</button>
      </mat-menu>
    </mat-menu>


    <span>Caderno</span>
    <span class="example-spacer"></span>
    <span>{{usuario.nome}} </span>
    <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>


<router-outlet></router-outlet>
