<div *ngIf="mostrarMenu">
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>


    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="''">
        <mat-icon>home</mat-icon>
        <span>Inicio</span>
      </button>
      <button mat-menu-item [routerLink]="''">
        <mat-icon>unfold_less</mat-icon>
        <span>Maquina</span>
      </button>
      <button mat-menu-item [routerLink]="''">
        <mat-icon>density_large</mat-icon>
        <span>Usuarios</span>
      </button>
    </mat-menu>


    <span>Caderno</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>


<router-outlet></router-outlet>
