<div>

  <mat-card>
    <mat-card-title>Login</mat-card-title>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

      <div class="margin-login">


        <mat-form-field  appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="pat@example.com" id="email" formControlName="email" required>
          <mat-error *ngIf="formulario.get('email')?.hasError">{{getErrorMessage('Email invalido')}}</mat-error>
        </mat-form-field>

      </div>


      <div class="margin-login">

        <mat-form-field  appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="password" matInput id="senha" formControlName="senha" required>
        <mat-error *ngIf="formulario.get('senha')?.hasError">{{getErrorMessage('Digite a Senha')}}</mat-error>

      </mat-form-field>

      </div>


      
      <div class="margin-login">
        <button mat-button>Cancelar</button>
        <button type="submit" mat-raised-button color="primary">Entrar</button>
      </div>



    </form>

  </mat-card>
</div>
