mat-card {
  max-width: 80%;
  margin: 2em auto;
  text-align: center;
  width: 30%;
  padding-top: 10px;

}

.margin-login {
  margin: 30px;
}

button{
  padding: 5px;
  margin: 5px;
}

mat-card-title{

  padding-top: 25px;
}
