<mat-card class="container">

  <mat-card-title>Novo Usuario</mat-card-title>
  <br>

  <form class="form" [formGroup]="formulario" (ngSubmit)="onSubmit()">


    <mat-card-actions>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Nome</mat-label>
        <input type="text" matInput placeholder="Jose Silva" id="nome" formControlName="nome" required>
        <mat-error *ngIf="formulario.get('nome')?.hasError">{{getErrorMessage('preencha o nome')}}</mat-error>
      </mat-form-field>



      <br>


      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="pat@example.com" id="email" formControlName="email" required>
        <mat-error *ngIf="formulario.get('email')?.hasError">{{getErrorMessage('Email invalido')}}</mat-error>
      </mat-form-field>

      <br>

      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Confirme Email</mat-label>
        <input type="email1" matInput placeholder="pat@example.com" id="email1" formControlName="email1" required>
        <mat-error *ngIf="formulario.get('email1')?.hasError">{{getErrorMessage('Email não são iguais')}}</mat-error>
      </mat-form-field>

      <br>


      <mat-form-field class="full-width"  appearance="fill">
        <mat-label>Senha</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput id="senha" formControlName="senha" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formulario.get('senha')?.hasError">{{getErrorMessage('Digite a Senha')}}</mat-error>
      </mat-form-field>

      <br>


      <mat-form-field class="full-width"  appearance="fill">
        <mat-label>Confirme a Senha</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput id="senha1" formControlName="senha1" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" >
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="formulario.get('senha1')?.hasError">{{getErrorMessage('Email não são iguais')}}</mat-error>
      </mat-form-field>


    </mat-card-actions>




    <mat-card-actions>

      <button type="submit" mat-raised-button color="primary">Salvar</button>

    </mat-card-actions>


  </form>


</mat-card>
